{% extends 'base.html' %}

{% block content %}
	<div class="title">
		Relative alignment of countries whilst negotiating the secret TPP agreement
	</div>
	<div class="helper">
		Click on a flag to show TPP IP alliances
	</div>
	<div id='map'></div>
	<div class="footer">
		<div class="description">Description of the data visualisation</div>
	<p>The map uses the information contained in the bracketed proposals embedded in the TPP-IP draft of 30 August 2013 to show the relative alignment of countries whilst negotiating the secret TPP agreement, specifically in relation to other countries' positions.  The line width reflects the number of times two countries were in alignment.</p>
	</div>
{% endblock %}
